.footer {
  background-color: $white;
  padding: 5rem
    /* 80/16 */
    0 2rem
    /* 32/16 */
  ;

  &-nav {
    &__subtitle {
      @include font-size(14px);
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.15px;
      color: #7B8BA5;
      margin-bottom: 1.1875rem
        /* 19/16 */
      ;
      text-transform: uppercase;

      @media (max-width: $screen-sm) {
        margin-top: 1.1875rem
          /* 19/16 */
        ;
      }
    }

    &__link {
      @include transition(color .3s ease);
      @include font-size(16px);
      display: block;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #324B72;
      padding: .5rem
        /* 8/16 */
        0;

      &:hover {
        color: $accent-color;
        text-decoration: none;
      }
    }
  }

  &-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $screen-sm) {
      justify-content: flex-start;
      margin-top: 2.1875rem /* 35/16 */;
    }

    @media (max-width: $screen-md) {
      margin-top: 2.1875rem /* 35/16 */;
    }

    &__icon {
      $socials: "facebook", "twitter", "linkedin", "youtube";

      &.facebook {
        width: 24px !important;
      }

      &.youtube {
        width: 36px !important;
      }

      @each $social in $socials {
        &.#{$social} {
          display: block;
          background-image: url("../../assets/social/#{$social}.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50%;
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  &__copyright {
    @include font-size(15px);
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #7B8BA5;
    padding: 1.75rem
      /* 28/16 */
      0;
    margin-top: 2rem;
    border-top: 1px solid #e0e6ed;
    text-align: left;

    a {
      font-weight: bold;
      color: $accent-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}