@import 'variables';

.top__header {
  position: relative;
  margin-top: 5rem;

  @media (max-width: $screen-sm) {
    padding: 3.625rem
      /* 58/16 */
      0 3.625rem
      /* 58/16 */
    ;
    margin-top: 0;
  }

  &-title {
    @include font-size(45px);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: 0.796px;
    color: #112950;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (max-width: $screen-sm) {
      margin-top: 0.5rem;
      line-height: 36px;
    }
  }

  &-paragraph {
    @include font-size(18px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #324B72;
  }

  &-lnk {
    @include transition(background .3s ease);
    display: inline-flex;
    align-items: center;
    background-color: #2E85FF;
    margin-top: 1rem;
    height: 3.57em;
    line-height: 1em;
    padding: 0 3.57em;
    position: relative;
    text-decoration: none !important;
    border-radius: 30px;
    color: $white !important;
    font-weight: bold;

    @media (max-width: $screen-sm) {
      margin-bottom: 4rem;
    }

    &:hover {
      background-color: lighten(#2E85FF, 5%);
    }
  }

  &-vector {
    position: relative;
    top: 0;
    left: 115px;
    right: 0;

    @media (max-width: $screen-sm) {
      left: 0;
      width: 100%;
      //display: none;
    }
  }
}

.svg-vector {
  @media (max-width: $screen-sm) {
    width: 100%;
  }
}