.navbar {
  padding: 1.5rem 1rem;

  &-toggler {
    border: none;
  }
}

.navbar-collapse {
  .navbar-nav {
    .nav-link {
      @include font-size(16px);
      @include transition(color .3s ease);
      font-family: 'Inter'sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #324B72 !important;
      padding-right: 2.5rem !important;

      @media (max-width: $screen-sm) {
        text-align: center !important;
        padding-right: 0 !important;
      }

      &:hover {
        color: $accent-color !important;
      }
    }
  }
}