.sect {
  &__title {
    @include font-size(37px);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 0.617px;
    color: #112950;
    margin-top: 7.6875rem
      /* 123/16 */
    ;
    margin-bottom: 3.125rem
      /* 50/16 */
    ;

    @media (max-width: $screen-sm) {
      margin-top: 2.5rem;
    }
  }

  &__subtitle {
    @include font-size(18px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 2.875rem
      /* 46/16 */
    ;
  }

  &__paragraph {
    @include font-size(18px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 2.875rem
      /* 46/16 */
    ;
  }

  &--tools {
    background-color: $white;
    padding-bottom: 7.875rem
      /* 126/16 */
    ;

    @media (max-width: $screen-sm) {
      padding-bottom: 1rem;
    }
  }

  &--doctors {
    background-color: #F5F8FB;
    padding-bottom: 7.875rem
      /* 126/16 */
    ;

    @media (max-width: $screen-sm) {
      padding-bottom: 1rem;
    }
  }

  &--languages {
    background-color: $white;
    padding-bottom: 7.875rem
      /* 126/16 */
    ;

    @media (max-width: $screen-sm) {
      padding-bottom: 1rem;
    }
  }

  &--thoughts {
    background-color: #F5F8FB;
    padding-bottom: 7.875rem
      /* 126/16 */
    ;
    text-align: center;

    .sect__title {
      margin-bottom: 1.875rem
        /* 30/16 */
      ;

      @media (max-width: $screen-sm) {
        margin-bottom: 0.5rem;
      }
    }

    .sect__subtitle {
      max-width: 480px;
      margin: 0 auto 2.625rem
        /* 42/16 */
      ;

      @media (max-width: $screen-sm) {
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: $screen-sm) {
      padding-bottom: 1rem;
    }
  }
}