.toprisk {
  background-color: #112950;
  border-radius: 0;
  padding: 0.9rem;

  &__text {
    @include font-size(16px);
    color: $white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: .005rem /* 0.08/16 */;

    @media (max-width: $screen-sm) {
      text-align: left;
    }
  }

  a {
    color: $white;
    margin-left: .1875rem /* 3/16 */;
    font-weight: normal;

    svg {
      color: $accent-color;
      margin-left: 0.5rem;
    }
  }
}