$green: green;
$black: black;
$main-bg-color: #F5F8FB;
$accent-color: #2E85FF;

// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1 !default;
$screen-sm-max: $screen-md-min - 1 !default;
$screen-md-max: $screen-lg-min - 1 !default;

// Define an extra-small breakpoint
$screen-xxs: 0px;
$screen-xxs-min: $screen-xxs;
$screen-xss-max: $screen-xs-min - 1;

// Define an extra-large breakpoint
$screen-xl: 1600px;
$screen-xl-min: $screen-xl;
$screen-lg-max: $screen-xl-min - 1;

// Define an iMac-and-upwards breakpoint - anything larger than HD
$screen-xxl: 1921px;
$screen-xxl-min: $screen-xxl;
$screen-xl-max: $screen-xxl-min - 1;