@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'libs/normalize';
@import 'libs/bootstrap';
@import 'libs/rfs';

@import 'components/all';

body {
  background: $main-bg-color;
  min-height: 100vh;
  font-family: 'Roboto'sans-serif;
  overflow-x: hidden;
}

@media (max-width: $screen-sm) {
  .no-gutter>[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}