.doctors {
  &__blocks {
    margin-bottom: 6.875rem
      /* 110/16 */
    ;

    @media (max-width: $screen-sm) {
      margin-bottom: 2rem;
    }
  }

  &__block {
    &-title {
      @include font-size(22px);
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 28px;
      letter-spacing: 0.308px;
      color: #112950;
      margin-bottom: 1.1875rem
        /* 19/16 */
      ;
    }

    &-paragraph {
      @include font-size(17px);
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: 30px;
      letter-spacing: 0.15px;
      color: #324B72;
      margin-bottom: 1.625rem
        /* 26/16 */
      ;
      min-height: 120px;
    }

    &-lnk {
      @include transition(background .3s ease);
      display: inline-flex;
      align-items: center;
      background-color: $accent-color;
      margin-top: 1rem;
      height: 3.57em;
      line-height: 1em;
      padding: 0 2.57em;
      position: relative;
      text-decoration: none !important;
      border-radius: 30px;
      color: $white !important;
      font-weight: bold;
      width: 60%;
      justify-content: center;

      @media (max-width: $screen-sm) {
        margin-bottom: 2rem;
        margin-left: 0 !important;
        display: flex;
      }

      @media (max-width: $screen-md) {
        margin-bottom: 2rem;
        margin-left: 0 !important;
      }

      &:hover {
        background-color: lighten($accent-color, 5%);
      }
    }
  }
}

.companies {
  &__blocks {
    &-subtitle {
      @include font-size(14px);
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      letter-spacing: 0.15px;
      color: #7B8BA5;
      margin-bottom: 1.1875rem
        /* 19/16 */
      ;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .logo {
      margin: 2.5625rem
        /* 25/16 */
        3.75rem
        /* 60/16 */
      ;

      @media (max-width: $screen-sm) {
        margin: 2.5625rem 0.75rem;
      }

      @media (max-width: $screen-md) {
        margin-top: 1rem;
      }
    }
  }

  &--logos {
    max-width: 830px;
  }
}