.languages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-item {
    @include transition(background-color .3s ease);
    @include font-size(15px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    /* or 176% */
    letter-spacing: 0.15px;
    display: block;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem 2.25rem
      /* 36/16 */
    ;
    border: 1px solid #E0E6ED;
    border-radius: 16px;
    color: #324B72;

    &:hover {
      text-decoration: none;
      background-color: $accent-color;
      color: $white;
    }
  }
}

.contribute {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 2.25rem;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }

  &--box {
    margin-top: 4.75rem
      /* 76/16 */
    ;

    @media (max-width: $screen-sm) {
      margin-top: 1rem;
    }
  }

  &__badge {
    @include font-size(14px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    /* or 176% */
    letter-spacing: 0.15px;
    padding: .3125rem
      /* 5/16 */
      1rem
      /* 16/16 */
    ;
    margin-right: 1rem /* 16/16 */;
    background-color: #112950;
    border-radius: 16px;
    color: $white;
    text-transform: uppercase;

    @media (max-width: $screen-sm) {
      margin-right: 0;
    }
  }

  &__text {
    @include font-size(18px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    /* or 176% */
    margin-right: 1rem /* 16/16 */;
    color: #324B72;

    @media (max-width: $screen-sm) {
      margin: 2rem;
      text-align: center;
    }
  }

  &__link {
    @include transition(color .3s ease);
    @include font-size(17px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    /* or 176% */
    letter-spacing: 0.15px;
    color: $accent-color;
  }
}