.thought__link {
  @include transition(background .3s ease);
  display: inline-flex;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid $accent-color !important;
  color: $accent-color !important;
  margin-top: 1rem;
  height: 3.57em;
  line-height: 1em;
  padding: 0 2.57em;
  position: relative;
  text-decoration: none !important;
  border-radius: 30px;
  color: $accent-color;
  font-weight: bold;

  &:hover {
    background-color: $accent-color !important;
    color: $white !important;
  }
}