.tools {
  &__card {
    border-radius: 16px;
    margin-bottom: 2rem;

    &--dark {
      background-color: #112950;

      .card {
        &-img-bottom {
          border-bottom: 1px solid #324B72;
        }

        &-link {
          svg {
            color: #5C9FFF;
            margin-left: 0.5rem;
          }

          &:nth-child(2) {
            background-color: transparent;
          }

          &:hover {
            background-color: $accent-color !important;
            color: $white !important;
          }
        }
      }
    }

    &--light {
      background-color: #F5F8FB;

      .card {
        &-title {
          color: #112950 !important;
        }

        &-body {
          background-color: $white !important;
        }

        &-text {
          color: #324B72 !important;
        }

        &-link {
          background-color: transparent !important;
          border: 1px solid $accent-color !important;
          color: $accent-color !important;

          &:hover {
            background-color: $accent-color !important;
            color: $white !important;
          }
        }
      }
    }

    &--default {
      background-color: $white;

      .card {
        &-img-right {
          display: block;
          padding-top: 6rem;

          @media (max-width: $screen-md) {
            padding: 10rem 4rem;
          }

          @media (max-width: $screen-sm) {
            margin: 0 auto;
            padding: 1rem 1rem 0;
          }
        }

        &-title {
          color: #112950 !important;
        }

        &-body {
          background-color: $white !important;
        }

        &-text {
          color: #324B72 !important;
          min-height: auto;
        }

        &-link {
          background-color: transparent !important;
          border: 1px solid $accent-color !important;
          color: $accent-color !important;

          &:hover {
            background-color: $accent-color !important;
            color: $white !important;
          }
        }
      }
    }
  }
}

.card {
  &-img-bottom {
    padding: 2.875rem
      /* 46/16 */
      5.375rem
      /* 86/16 */
      0;

    @media (max-width: $screen-sm) {
      padding: 1rem 1rem 0;
    }
  }

  &-title {
    @include font-size(29px);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0.456px;
    color: #FFFFFF !important;
  }

  &-body {
    padding: 2.25rem;

    @media (max-width: $screen-sm) {
      padding: 1rem;
    }
  }

  &-text {
    @include font-size(17px);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    /* or 176% */
    letter-spacing: 0.15px;
    color: #FFFFFF;
    min-height: 150px;

    @media (max-width: $screen-sm) {
      min-height: auto;
    }
  }

  &-link {
    @include transition(background .3s ease);
    display: inline-flex;
    align-items: center;
    background-color: $accent-color;
    margin-top: 1rem;
    height: 3.57em;
    line-height: 1em;
    padding: 0 2.57em;
    position: relative;
    text-decoration: none !important;
    border-radius: 30px;
    color: $white !important;
    font-weight: bold;

    @media (max-width: $screen-sm) {
      margin-bottom: 1rem !important;
      margin-left: 0 !important;
      display: flex;
      width: 70%;
    }

    @media (max-width: $screen-md) {
      margin-bottom: 2rem;
      margin-left: 0 !important;

      .card-link+.card-link {
        margin-left: 0 !important;
      }
    }

    &:hover {
      background-color: lighten($accent-color, 5%);
    }
  }
}